
/**
 * Reset browser-defaults
 */

global-reset()
reset-html5()

ident = rgb(220, 240, 250)

/**
 * Form
 */

@import 'form'


body
  background: #81878a
  color: #222
  font: 14px 'Open sans', Helvetica, Arial
  padding: 50px
  text-align: center

#wrapper
  margin: 0 auto
  max-width: 540px
  text-align: left

for pos in block inline inline-block
  .{pos}
    display: pos
