
/**
 * Reset browser-defaults
 */

global-reset()
reset-html5()

/**
 * Form
 */

@import 'form'


body
  background: #81878a
  color: #222
  font: 14px 'Open sans', Helvetica, Arial
  line-height: 1.5em
  padding: 50px
  text-align: center
  text-shadow: 0 1px 0 rgba(white, 0.2)

#wrapper
  margin: 0 auto
  max-width: 540px
  text-align: left

h1
  font-size: 3em
  line-height: 2em

p
  margin-bottom: 1.5em

.boxed
  background: white
  box-shadow: 0 1px 3px rgba(black, 0.3)
  font-size: 1.3em
  padding: 30px

for pos in block inline inline-block
  .{pos}
    display: pos

table
  @extends .boxed
  width: 100%
  th
    font-size: 1.1em
    padding-bottom: 1em
  tfoot
    td
      padding-top: 1em
